{% extends 'base.html' %}


{%block title%} Beach Tournaments{% endblock %}

{% block content %}

<h1>Beach Tournaments</h1>


<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">StartDateMainDraw</th>
            <th scope="col">EndDateMainDraw</th>
            <th scope="col">FederationCode</th>
            <th scope="col">no</th>
            <th scope="col">Version</th>
        </tr>
    </thead>
    <tbody>
        {% for beachtournament in beachtournaments %}
        <tr>
            <td>{{beachtournament.Code}}</td>
            <td>{{beachtournament.Name}}</td>
            <td>{{beachtournament.StartDateMainDraw}}</td>
            <td>{{beachtournament.EndDateMainDraw}}</td>
            <td>{{beachtournament.FederationCode}}</td>
            <td>{{beachtournament.no}}</td>
            <td>{{beachtournament.Version}}</td>
        {% endfor %}
    </tbody>
  </table>

{% endblock %}